@media not all and (min-width: 1024px){
  .c-table{

    tr{
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
      }

    th{
      display: block;
      padding: 20px 12px 8px;
      font-size: 18px;
        
    }

    td{
      display: block;
      padding: 8px 0 20px 12px;
    }
  }
} 

.c-table{
  border-collapse: collapse;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;

  th{
    text-align: left;
    color: $color-sub;   

    span{
      font-size: 14px;
    }
  }

  td{
    span{
      font-size: 14px;
    }
  }
}

@media (min-width: 1024px){
  .c-table{
    margin-top: 48px;

    th{
      padding: 24px;
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
      width: 200px;
      vertical-align: top;
    }

    td{
      padding: 24px;
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
    }
  }
}

.c-table__list{
  li{
    position: relative;
    padding-left: 12px;
    font-size: 14px;
    margin-top: 4px;

    &:before{
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translateY(-50%);
      content: "";
      width: 4px;
      height: 4px;
      margin-right: 8px;
      display: inline-block;
      background-color: #333;
      border-radius: 50%;
    }
    
  }
}

.-mb{
   margin-bottom: 16px;
}

.p-table__note{
  font-size: 14px;

  p{
    padding-left:1em;
	text-indent:-1em;
  }
}