.p-contract__heading{
  span{
    color: $color-sub;
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    position: relative;
    padding-bottom: 12px;

    &:after{
      content: '';
      height: 1px;
      width: 32%;
      background: $color-sub;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  h2{
    margin-top: 20px;
    font-size: 18px;
    font-family: $font-mincho;
  }

  p{
    margin-top: 16px;
  }
}

.p-contract__desc{
  grid-area: desc;
}

.p-contract__img{
  grid-area: img;
}

.p-contract__item{
  margin-bottom: 64px;
}

.p-contract__text{
  margin-top: 16px;
  margin-bottom: 24px;
  p{
    margin-bottom: 8px;
  }
}

.p-contract__list{
  background: $color-bg;
  padding: 24px;

  h3{
    font-size: 16px;
    color: #185E9C;
    margin-bottom: 12px;
  }

  li{
    padding-left: 1em;
    text-indent: -1em;
    margin-bottom: 8px;

    &:before{
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      background: $color-main;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 0.5em;
      margin-top: -4px;
    }
  }
}



@media (min-width: 768px){
  .p-contract__item{
    display: grid;
    gap: 40px;
    grid-template-columns:50% 50%;
    grid-template-areas:
      "desc img"
  }
  }
