.p-contract{
  padding: 40px 0 64px;
}

.p-contract__heading{
  span{
    color: $color-sub;
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    position: relative;
    padding-bottom: 12px;

    &:after{
      content: '';
      height: 1px;
      width: 32%;
      background: $color-sub;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  h2{
    margin-top: 20px;
    font-size: 18px;
    font-family: $font-mincho;
  }

  p{
    margin-top: 16px;
  }
}

.p-contract__desc{
  grid-area: desc;
}

.p-contract__img{
  grid-area: img;
}

.p-contract__item + .p-contract__item{
  padding-top: 48px;
}

.p-contract__text{
  margin-top: 16px;
  margin-bottom: 24px;
  p{
    margin-bottom: 8px;
  }
}

.p-contract__list{
  background: $color-bg;

  h3{
    font-size: 16px;
    color: #185E9C;
    margin-bottom: 12px;

    span{
      font-size: 14px;
    }
  }

  li{
    padding-left: 1em;
    text-indent: -1em;
    margin-bottom: 8px;

    &:before{
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      background: $color-main;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 0.5em;
      margin-top: -4px;
    }
  }

  table{
    width: 100%;
    border-spacing: 0;
    margin-bottom: 16px;
  }

  th, td{
    border-bottom: 1px solid #e5e5e5;
    padding: 8px 0;
    width: 50%;
    text-align: center;
    font-size: 14px;
  }
}



@media (min-width: 768px){
  .p-contract{
    padding: 88px 0;
  }

  .p-contract__item + .p-contract__item{
  padding-top: 64px;
}

  .p-contract__item{
    display: grid;
    gap: 40px;
    justify-content: space-evenly;
    grid-template-columns:44% 50%;
    grid-template-areas:
      "desc img";
      
    &:not(:first-child){
      align-items: center;
    }
  }

  .p-contract__list{
    table{
      width: 88%;
    }
  }
  }

